<h1>this account will help you keep track of your things</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'okay!' %>
  </p>
<% end %>

<%= link_to 'See users.', users_path %>