<h1>Listing friendships</h1>

<table>
  <tr>
    <th>User</th>
    <th>Friend</th>
  </tr>

<% @friendships.each do |friendship| %>
  <tr>
    <td><%= link_to_name friendship.user %></td>
    <td><%= link_to_name friendship.friend %></td>
    <td><%= link_to 'Show', friendship %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New friendship', new_friendship_path %>