<div>
  <%= link_to_name @storage.belonging %> is being stored in <%= link_to_name @storage.storage_unit %>
</div>


<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>